{% extends 'admins/layout.html' %}
{% block main-content %}
<div class="container-fluid">
    <h2 class="text-center my-3 text-muted">
      Admin Dashboard
    </h2>
    <div class="row d-flex">
      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/bookings" class="text-decoration-none">
          <div class="card shadow border-0 py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-primary fw-bold text-xs mb-1 text-center">
                    <span>
                      Total Bookings
                    </span>
                  </div>
                  <div class="text-secondary fw-bold mb-0 text-center">
                    <span>Bookings: {{booking_count}}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fab fa-first-order-alt fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-warning">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Total Users : {{user_count}}
                    </span>
                  </div>
                  <div class="text-secondary fw-bold mb-0 text-center">
                    <span>Deactivated: {{deactivated_user_count}}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-users fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="/package" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-success">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Total Packages: {{package_count}}
                    </span>
                  </div>
                  <div class="text-warning fw-bold mb-0 text-center">
                    <span>Unavailable: {{unavailable_count}}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-globe fs-1 text-light"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-danger">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Total Reviews
                    </span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>Reviews: {{review_count}}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-globe fs-1 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-primary">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                      Admins
                    </span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>Super Admin: {{superuser_count}}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-users fs-1 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-dark">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-light fw-bold text-xs mb-1 text-center">
                    <span>
                     Categories
                    </span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>Sub-Categories: 0</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-globe fs-1 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
{% endblock %}